body {
  background-color: lightblue;
}

#title {
  background-image: url("titlebg.png");
  text-align: center;
}

h2 {
  color: black;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
